<div class="floor">
    <div class="heading">
        <h1>House Plan</h1>
    </div>
    <div class="plan">
        <h1></h1>
        <app-dinning></app-dinning>
        <div class="plan">
            <app-kitchen></app-kitchen>
        </div>
        <div class="plan">
            <app-bedroom></app-bedroom>
        </div>
        <div class="plan">
            <app-bedroom></app-bedroom>
        </div>
        <div class="plan">
            <app-bedroom></app-bedroom>
        </div>
        <div class="plan">
            <app-pool></app-pool>
        </div>
    </div>
    <div class="plan">
        <div class="hallArea">
            <h1> Hall Area</h1>
        </div>
    </div>
    <app-entrance></app-entrance>

    <div class="plan">
        <app-hall></app-hall>
    </div>

</div>